* {
	padding: 0;
	margin: 0;
}
body {
	user-select: none;
	display: flex;
	padding: 10px;
	margin: 0;
}
#game-canvas {
	margin-left: 10px;
	margin-right: 10px;
	outline: 1px solid #000000;
}
#fixed-text {
	position: fixed;
	display: block;
	text-align: center;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
}
.info {
	display: flex;
	flex-direction: column;
	padding: 10px;
	outline: 1px solid black;
	width: 100px;
	text-align: center;
	flex-grow: 1;
}
.pl-name {
	font-size: 32px;
}
.player {
	position: absolute;
}
.controller {
	position: absolute;
}
.controller div {
	padding-top: 5px;
}
.controller div button {
	font-size: 50px;
    font-family: sans-serif;
    border: 0;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
	background: #DDDDDD88;
}
.controller div button:hover {
	background: #88888888;
}
